<span style='color: #000'>163 frames</span>	<span style='color: #900'>19,200 KB</span>	<span style='color: #090'>1,259.74 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />